<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <span class="text-warning">Simulator</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="isLoggedIn ? ['/workspace'] : ['/login']">Workspace</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/help">Help</a>
      </li>
    </ul>
  </div>

  <div class="flex-grow-1 float-right">
    <div *ngIf="isLoggedIn" ngbDropdown class="float-right">
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button (click)="goToUserProfile()" ngbDropdownItem>Profile</button>
        <button (click)="logout()" ngbDropdownItem>Logout</button>
      </div>
      <button class="userdetails" id="dropdownBasic1" ngbDropdownToggle>
        <img class="account-icon" src="assets/images/user.png">
        {{username}}
      </button>
    </div>
    <div *ngIf="!isLoggedIn">
      <a routerLink="/sign-up" class="float-right sign-up mr-2">Sign up</a>
      <a routerLink="/login" class="float-right login mr-2">Login</a>
    </div>
  </div>
</nav>
