mat-sidenav-container {
  height: 100%;
}

mat-sidenav, mat-sidenav-content {
  padding: 16px;
  height: 700px;
}

mat-sidenav {
  background-color: darkgrey;
  width: 200px;
}

.image:hover {
  cursor: pointer;
}

.image:active {
  cursor: grabbing;
}

