.login-section{
  margin: 100px;
}

.login-failed{
  text-align: center;
  margin: auto;
  margin-top: 10px;
  border: 2px solid black;
  border-color: indianred;
  width: 65%;
  background-color: white;
}

.login-failed-text{
  text-align: center;
  margin-top: 5px;
  color: black;
}
