<mat-sidenav-container>

  <!--  Left side bar-->
  <mat-sidenav mode="side" [(opened)]="leftSideBarOpened" position="start" (click)="unselect();">
    <button type="button"
            class="btn btn-success"
            (click)="simulationStarted = true"
    ><i class="fa fa-play"></i> Start
    </button>
    <button type="button"
            class="btn btn-danger"
            (click)="simulationStarted = false"
    ><i class="fa fa-stop"></i> Stop
    </button>
    <button type="button"
            class="btn btn-warning"
            (click)="resetWorkspace()"
    ><i class="fa fa-repeat"></i> Reset
    </button>
    <button type="button"
            class="btn btn-info"
            style="margin-top: 30px"
            (click)="saveParameters()"
    ><i class="fa fa-save"></i> Save
    </button>
    <button type="button"
            class="btn btn-info"
            (click)="loadSimulation()"
    ><i class="fa fa-folder"></i> Load
    </button>
    <button type="button"
            class="btn btn-info"
            style="margin-top: 30px"
            (click)="addNode('ROUTER')"
    ><i class="fa fa-plus"></i> Router
    </button>
    <button type="button"
            class="btn btn-info"
            (click)="addNode('CLIENT')"
    ><i class="fa fa-plus"></i> Client
    </button>
    <button type="button"
            class="btn btn-info"
            (click)="drawingMode=!drawingMode"
    ><i class="fa fa-plus"></i> Link
    </button>

    <button type="button"
            class="btn btn-success btn-lg"
            style="margin-top: 30px"
            (click)="pingMode = !pingMode"
    ><i class="fa fa-angle-double-right"></i> Ping
    </button>
    <button type="button"
            [disabled]="checkIfNodeSelected()"
            class="btn btn-danger btn-lg"
            (click)="removeSelectedNode()"
    ><i class="fa fa-trash"></i> Delete
    </button>
  </mat-sidenav>

  <!--  Workspace content-->
  <mat-sidenav-content style="background-color: azure">
    <a *ngFor="let link of this.links">
      <span class="dot" matTooltip="{{link.interfaceA}}"
            [ngStyle]="{marginLeft: link.xA - 7 + 'px', marginTop: link.yA - 7 + 'px', backgroundColor: simulationStarted ? 'green' : 'red'}"></span>
      <span class="dot" matTooltip="{{link.interfaceB}}"
            [ngStyle]="{marginLeft: link.xB - 7 + 'px', marginTop: link.yB - 7 + 'px', backgroundColor: simulationStarted ? 'green' : 'red'}"></span>
    </a>
    <div class="workspace" (click)="loading=false;">
      <a *ngFor="let node of nodes">
        <img [ngClass]="{'selected': node.selected, 'drawing-mode': drawingMode, 'ping-mode': pingMode}"
             class="node"
             [src]=getImageSource(node.type)
             cdkDrag cdkDragBoundary=".workspace"
             (click)="select(node.id); drawingMode ? addInterface(node) : {}"
             (cdkDragEnded)="updateParameters($event, node)"
             [style.left.px]="loading ? node.actualX + node.previousX : {}"
             [style.top.px]="loading ? node.actualY + node.previousY : {}">
      </a>
      <!--    TODO: Dostosować rozmiar do mat-sidenav-content-->
      <canvas id="myCanvas" width="650" height="650" (click)="unselect();"></canvas>
    </div>

    <mat-tab-group id="bottom-bar">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>article</mat-icon>
          Console
        </ng-template>
        {{consoleContent}}
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>view_list</mat-icon>
          Node parameters
        </ng-template>

        <table mat-table [dataSource]="nodes" class="mat-elevation-z8">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name</th>
            <td mat-cell *matCellDef="let node"> {{node.name}} </td>
          </ng-container>
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type</th>
            <td mat-cell *matCellDef="let node"> {{node.type}} </td>
          </ng-container>
          <ng-container matColumnDef="loopback">
            <th mat-header-cell *matHeaderCellDef> Loopback</th>
            <td mat-cell *matCellDef="let node"> {{node.loopback}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="nodeParametersColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: nodeParametersColumns;"></tr>
        </table>

      </mat-tab>

      <mat-tab>
        <a *ngFor="let node of nodes">
          <a *ngIf="node.selected">
            <ng-template mat-tab-label>
              <img class="mat-icon" [src]=getImageSource(node.type)/>
              {{node.name}}
            </ng-template>

            <form [formGroup]="newRowForm" (ngSubmit)="addRow(node)">
              <mat-form-field class="input">
                <input [formControlName]="'network'" type="text" matInput  placeholder="Network">
              </mat-form-field>
              <mat-form-field class="input">
                <input [formControlName]="'next_hop'" type="text" matInput  placeholder="Next Hop">
              </mat-form-field>
              <button type="submit" class="btn btn-success small-plus"><i class="fa fa-plus"></i></button>
            </form>

            <table mat-table [dataSource]="getRoutingTableAsPairTable(node)" class="mat-elevation-z8">
              <ng-container matColumnDef="network">
                <th mat-header-cell *matHeaderCellDef> Network</th>
                <td mat-cell *matCellDef="let routingTable">
                  {{routingTable.network}}
                </td>
              </ng-container>
              <ng-container matColumnDef="next-hop">
                <th mat-header-cell *matHeaderCellDef> Next Hop</th>
                <td mat-cell *matCellDef="let routingTable">
                  {{routingTable.next_hop}}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="routingTableColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: routingTableColumns;"></tr>
            </table>
          </a>
        </a>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav-content>

</mat-sidenav-container>
