.workspace {
  background-color: azure;
}

img.node {
  width: 75px;
  height: 75px;
  position: absolute;
}

img.selected {
  filter: brightness(50%);
}

img.drawing-mode {
  border: 2px darkgreen solid;
}

img:hover {
  cursor: pointer;
}

img:active {
  cursor: grabbing;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav, mat-sidenav-content {
  padding: 16px;
  height: 700px;
}

mat-sidenav {
  background-color: #253c52;
  width: 200px;
}

button {
  margin-left: 5px;
  margin-top: 5px;
  position: center;
  height: auto;
  width: 160px;
}

button.right {
  height: 100px;
}

